body {
    font-family: 'Roboto',sans-serif;
    color: rgb(130, 134, 158);
    font-size: 15px;
    background-color: #f8f8fc;
}

 a {
    text-decoration: none;
    color: rgb(130, 134, 158);
 }

 .productadmin {
    position: relative;
    left: 300px;
    top: 80px;
    background-color: white;
    width: 79%;
    border-radius: 5px;
    z-index: 0;
}

