.wrap_outStadingProduct {
    height: 1350px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.nav_outStading {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.col_product {
    padding: 0;
    margin-top: 10px;
}